/*
-File Map
-Start global (5-54)
*/
/* Start global */
:root {
	--main-color: #f9c10b;
	--sub-color: #dc3545;
	--black-color: #333;
	--font-family: "Sarabun";
	--font-size: 1rem;
	--long-delay: 0.6s;
	--short-delay: 0.4s;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: "Sarabun";
	src: url("../assets/fonts/Sarabun/Sarabun-Light.eot Sarabun-Light.eot");
	src: url("../assets/fonts/Sarabun/Sarabun-Light.eot?#iefix")
			format("embedded-opentype"),
		url("../assets/fonts/Sarabun/Sarabun-Light.woff2") format("woff2"),
		url("../assets/fonts/Sarabun/Sarabun-Light.woff") format("woff"),
		url("../assets/fonts/Sarabun/Sarabun-Light.ttf") format("truetype"),
		url("../assets/fonts/Sarabun/Sarabun-Light.svg#Sarabun-Light") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: var(--font-family), sans-serif;
}
.main-color {
	background-color: var(--main-color);
}
.main-background {
	background-color: var(--main-color);
}
.sub-color {
	color: var(--sub-color);
}
.main-icon {
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
}
.main-fs {
	font-size: var(--font-size);
}
section {
	height: 100vh;
}
p {
	margin-bottom: 0;
}
/* End global */
/* Start navbar */
.upper-navbar {
	padding: 10px 0;
}
.upper-navbar__content__icon {
	font-size: 1.125rem;
}
.upper-navbar__content__social li {
	cursor: pointer;
}
.upper-navbar__content__social li a {
	transition: color var(--short-delay);
}
.upper-navbar__content__social li:hover a {
	color: var(--main-color) !important;
}
/*end navbar */
