/*
-File Map
-Start global (5-54)
*/
/* Start global */
:root {
	--main-color: #f9c10b;
	--sub-color: #dc3545;
	--dark-color: #000000;
	--white-color: #ffffff;
	--muted-color: #717275;
	--font-family: "DM Sans";
	--font-size: 1rem;
	--long-delay: 0.6s;
	--short-delay: 0.4s;

	--h1-font-size: 60px;
	--h2-font-size: 42px;
	--h3-font-size: 36px;
	--h4-font-size: 32px;
	--h5-font-size: 24px;
	--h6-font-size: 22px;
	--p-font-size: 18px;

	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: "DM Sans";
	src: url("/content/assets/fonts/DM-Sans/DMSans-Regular.eot");
	src: url("/content/assets/fonts/DM-Sans/DMSans-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("/content/assets/fonts/DM-Sans/DMSans-Regular.woff2") format("woff2"),
		url("/content/assets/fonts/DM-Sans/DMSans-Regular.woff") format("woff"),
		url("/content/assets/fonts/DM-Sans/DMSans-Regular.ttf") format("truetype"),
		url("/content/assets/fonts/DM-Sans/DMSans-Regular.svg#DMSans-Regular")
			format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: var(--font-family), sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
	color: var(--dark-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-weight-bold);
}
h1 {
	font-size: var(--h1-font-size);
}
h2 {
	font-size: var(--h2-font-size);
}
h3 {
	font-size: var(--h3-font-size);
	line-height: inherit;
}
h4 {
	font-size: var(--h4-font-size);
	line-height: inherit;
}
h5 {
	font-size: var(--h5-font-size);
	line-height: normal;
}
h6 {
	font-size: var(--h6-font-size);
}
.main-color {
	color: var(--main-color);
}
.main-background {
	background-color: var(--main-color);
}
.sub-color {
	color: var(--sub-color);
}
.main-icon {
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
}
.main-fs {
	font-size: var(--font-size);
}
.text-muted-custom {
	color: var(--muted-color);
}
p {
	margin-bottom: 0;
	color: var(--muted-color);
	font-size: var(--p-font-size);
	font-weight: var(--font-weight-normal);
}
ul li {
  color: var(--muted-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}
.section-padding {
	padding: 7.5rem 0;
}
.custom-rounded {
	border-radius: 20px;
}
/* End global */
/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 32px;
	}

	h4 {
		font-size: 28px;
	}

	h5 {
		font-size: 20px;
	}

	h6 {
		font-size: 18px;
	}

	.site-footer {
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 24px;
	}

	h5 {
		font-size: 20px;
	}
	.section-padding {
		padding: 7.5rem 0;
	}
	.copyright-text {
		padding-bottom: 10px;
	}
}

/* Start upper navbar */
.upper-navbar {
	padding: 10px 0;
}
.upper-navbar__content__icon {
	font-size: 1.125rem;
}
.upper-navbar__content__social li {
	cursor: pointer;
}
.upper-navbar__content__social li a {
	transition: color var(--short-delay);
}
.upper-navbar__content__social li:hover a {
	color: var(--main-color) !important;
}
/*end upper navbar */
/* Start navbar */
.main-navbar {
	z-index: 100;
}
.main-navbar__nav-item li a {
	font-weight: 700;
	font-size: 0.875rem;
	letter-spacing: 1px;
}
.navbar-nav .nav-link.active {
	color: var(--sub-color);
}
.main-navbar__nav-item li:hover a {
	color: var(--sub-color);
}
.main-navbar__nav-item li a small strong {
	letter-spacing: 1.2px;
}
/* End navbar */
/* Start main */
/* Start section-1 */

#Section1 {
	height: calc(100vh - 130px);
}
#Section1 .carousel-inner {
	height: inherit;
}
#Section1 .carousel-item {
	height: inherit;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#Section1 .carousel-item:first-of-type {
	background-image: linear-gradient(to top, #0000007c, #00000025),
		url(/content/assets/images/Section1/First-Slide.jpg);
}
#Section1 .carousel-item:last-of-type {
	background-image: linear-gradient(to top, #0000007c, #00000025),
		url(/content/assets/images/Section1/Second-Slide.jpg);
}
#Section1 .carousel-caption {
	margin-bottom: 5.25rem;
}
#Section1 .carousel-caption h2 {
	font-size: var(--h1-font-size);
}
#Section1 .custom-btn {
	color: var(--white-color);
	background-color: var(--sub-color);
	font-weight: var(--font-weight-normal);
	padding: 0.75rem 1.5rem;
	border-radius: 6.25rem;
	letter-spacing: 1px;
}
#Section1 .custom-btn:hover {
	background-color: var(--main-color);
}
#Section1 .popup-youtube svg {
	font-size: 3rem;
	transition: color var(--short-delay);
}
#Section1 .popup-youtube:hover svg {
	font-size: 3rem;
	color: var(--main-color) !important;
}
#Section1 .carousel-control-prev-icon,
#Section1 .carousel-control-next-icon {
	height: 5rem;
	width: 5rem;
}
/*  `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	#Section1 .carousel-caption h2 {
		font-size: var(--h4-font-size);
	}
	#Section1 .custom-btn {
		font-size: 0.8125rem;
	}
}
/* End section-1 */
/* Start section-2 */
#Section2 .about-card {
	padding: 2.5rem;
}
#Section2 .join-btn {
	color: var(--white-color);
	background-color: var(--main-color);
	font-weight: var(--font-weight-medium);
	padding: 0.75rem 1.5rem;
	border-radius: 6.25rem;
	letter-spacing: 1px;
	transition: background var(--short-delay), color var(--short-delay);
}
#Section2 .join-btn:hover {
	background-color: var(--white-color);
	color: var(--dark-color);
}
#Section2 .about-img {
	background-image: linear-gradient(
			0turn,
			rgba(0, 0, 0, 0.932),
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0)
		),
		url(/content/assets/images/Section2/About.jpg);
	background-size: cover;
	background-position: center;
}
@media (max-width: 575.98px) {
	#Section2 .about-img {
		height: 350px !important;
	}
	#Section2 .about-card {
		padding: 1.875rem;
	}
	#Section2 .join-btn {
		padding: 0.5rem 1rem;
	}
}

@media screen and (max-width: 991px) {
	.Section2 .about-card {
		padding: 1.875rem;
	}
}
/* End section-2 */
/* Start section-3 */
#Section3 .nav-pills .nav-link {
	border: 0;
	border-left: 7px solid var(--muted-color) !important;
	transition: all 0.4s ease-in-out;
}
#Section3 .nav-pills .nav-link:hover {
	border-left-color: var(--sub-color) !important;
	background: var(--white-color);
	box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
}
#Section3 .nav-pills .nav-link h3 {
	transition: color 0.4s ease-in-out;
}
#Section3 .nav-pills .nav-link:hover h3 {
	color: var(--main-color);
}
#Section3 .nav-pills .nav-link.active {
	border-left-color: var(--sub-color) !important;
	background: var(--white-color);
	box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
}
#Section3 .nav-pills .nav-link.active h3 {
	color: var(--main-color);
}
/* End section-3 */
/* End main */
